.wrapper {
  font-size: 21px;
  width: 100%;
  display: flex;
  justify-content: center;

  .header-container {
    margin: 10px;

    display: flex;

    /* Compact */
    @media screen and (max-width: 599px) {
      width: 100%
    }

    /* Medium */
    @media screen and (min-width: 600px) and (max-width: 839px) {
      width: 100%

    }

    /* Expanded */
    @media screen and (min-width: 840px) {
      width: 960px;
    }



    .header {
      margin-right: auto;

    }

    .navigation {

  }

 }

}



