<h1>At a Glance</h1>
@if (content && content.data) {
  <div class="card-container">

    @for (richTextItem of content.data;track richTextItem.id) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ richTextItem.attributes.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          @for (item of richTextItem.attributes.items;track item) {
            @switch (item.type) {
              @case ('list') {

                <ul>
                  @for (listItem of item.children;track listItem) {
                    <li>{{ listItem.children[0].text }}</li>

                  }
                </ul>

              }
              @case ('paragraph') {
                <p>{{ item.children[0].text }}</p>
              }
            }
          }
        </mat-card-content>
      </mat-card>
    }
  </div>

}
