<div class="content-wrapper">

  <div class="welcoming">
    <div class="mug-wrapper">
      <img src="assets/corys-mug.jpeg">
    </div>
    <h1 class="hello">Hi, I'm Cory.</h1>
  </div>

  <div class="value-proposition">
    @if (content) {
      {{ content.data.attributes.valueStatement }}
    }
  </div>

  <app-at-a-glance>

  </app-at-a-glance>

  <div class="actions">
    <h1>While You Are Here</h1>

    <ul>
      <li>Visit my <a routerLink="/resume">resume page</a></li>
      <li>Visit my <a routerLink="/projects">projects page</a></li>
      <li><a routerLink="/contact">Contact me</a></li>

    </ul>
  </div>

</div>



